.home__container {
  display: grid;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0.4rem;
  margin-top: 1rem;
}

.product__container {
  padding: 1rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  width: 250px;
}

.product__img {
  width: 200px;
  height: 200px;
  align-self: center;
}

.product__title {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.description__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__description {
  font-size: 1.1rem;
}

.product__price {
  font-size: 1.1rem;
  font-weight: bold;
}

.product__button {
  cursor: pointer;
  outline: 0;
  border: 0;
  color: #fff;
  background-color: #4670e2;
  padding: 0.8rem 0.5rem;
  border-radius: 1rem;
}

@media screen and (max-width: 280px) {
  .home__container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 568px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .home__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
